.headerBanner {
  flex-direction: row;
  flex: 1;
  position: relative;
  width: auto;
  height: 70px;
  background-color: skyblue;
}

.body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dropDown {
  margin-left: auto;
  margin-bottom: auto;
  flex-direction: row;
  flex: 1;
}

.table {
  display: table-row;
}

.headerElement1 {
  flex-direction: row;
  flex: auto;
  margin-right: 50px;
  width: auto;
  position: absolute;
  left: 0;
  height: 70px;
}

.headerElement2 {
  flex-direction: row;
  flex: auto;
  margin-left: 200px;
  margin-right: 50px;
  width: auto;
  position: absolute;
  left: 1;
}

.headerElement3 {
  flex-direction: row;
  flex: auto;
  margin-left: 50px;
  width: auto;
  position: absolute;
  right: 0;
}
